*{
    font-family: 'poppins';
}


body{
    background-color: rgb(31, 31, 236);
}
.logo {
border-radius: 20px;
display: flex;
align-items: center;
 gap: 15px;


}
.logo img {
border-radius: 50%;
box-shadow: 4px 15px rgba(29, 23, 23, 0.2)
            

 }
 .logo h1{
    font-size: 50px;
    color:white;
    font-weight: bold;
 }
 .logo img:hover {
            text-decoration: none;
            box-shadow: 10px;
            

            }

.navbar{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
}
a{
 text-decoration: none;
    color:black;
    font-size: 24px;
    
}

p{
    margin: 5px;
    font-size: 25px;
}
nav{
    padding: 5px;
    background-color:  blue;

}
nav ul{
    margin: 5px;
    padding: 5px;
    text-align: center;
    list-style: none;
}
nav ul li{
    display: inline;
    margin: 20px;
}
nav ul li a {
    color:  rgb(216, 216, 231);
    text-decoration: none;
    font-size: 25px;

}
nav ul li a:hover{
    text-decoration: underline;
}
a:hover{
    color: white;
    text-decoration: none;
    border-radius: 5PX;
    background-color: rgb(19, 9, 155);
}

.welcome{
    background-color:  rgb(125, 125, 224);
    border: solid blue;
    padding: 30px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 8px 15px rgb(37, 5, 153);
    
}
.welcome a  {
    background-color:rgb(233, 94, 14);
    color: white;
    font-size: 30px;
    padding: 5px;
    border-radius: 20px;
}
.welcome button{
    background-color:rgb(233, 94, 14)  ;
    color:white;
    padding: 2px;
    display: inline-block;
    text-decoration: none;
}
.welcome button:hover{
    background-color:black;
    color: white;
    padding: 10px;
    box-shadow:  8px ;
}
.welcome h2{
    color: white;
    font-size: 50PX;
    text-align: center;
    margin-bottom: 10px;
}
.welcome p{
    color:rgba(255, 255, 255, 0.9);
    font-size: 15px;
    margin-bottom: 12px;
}
.section-title {
    text-align: center;
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    
}
.featured-section{
    margin: 20px;
}
.featured-books{
    display: grid;
    align-items: center;
    flex-direction: column;
    grid-column:auto ;
    gap: 5px;

}
.book-card{
    background-color: white;
    border:  2px solid  rgb(125, 125, 224);
    padding: 150px;
    margin: 150px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px  20px 20px rgb(red, green, blue);
    
}
.book-cover{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    color: white;
    box-shadow: 20px 30px black; 
    
    

}
.book-cover img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 20px;
    
    
}
.book-cover img:hover{
    background-color: black;
    padding: 15px;

}
.book-info{
    padding: 25px;
    text-align: left;
}
.book-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    color:blue;

}
.book-author{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
    color: darkblue;
}

.book-description{
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}
.book-price{
    font-size: 18px;
    color: green;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
.button-group{
    display: flex;
    justify-content: center;
    padding: 16px;
    border: none;
    background-color: rgb(233, 94, 14);
    color: white;
    border-radius: 25px;
    gap: 5px;
    
}
.button-group a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    
}
.button-group .button {
            background-color: rgb(233, 94, 14); 
            text-align: center;
            font-size: 16px;
            padding: 10px 20px;
        }
.button-group a:hover {
    background-color: black;
    padding: 20px;
}
footer{
    background-color: rgb(134, 129, 129);
             margin-top: 3px;
            padding: 25px;
            text-align: center;
            color: #666;
}

